@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,
    #0a0a0a,#301130);
}

.calculator{
    border: 2px solid #6f7070;
    padding: 25px;
    background: rgb(38, 62, 60);
    border-radius: 10px;
    box-shadow: 0px 4px 14px  rgba(110 ,120 , 118, 0.8);
    background-color: rgb(30, 84, 210);
    
}

input{
    border: none;
    width: 230px;
    padding: 26px;
    margin: 12px;
    background: transparent;
    cursor: pointer;
    text-align: right ;
    font-size: 45px;
    color: rgb(248, 233, 71);
    box-shadow: 0px 3px 12px;
    
}

input::placeholder{
    color: aliceblue;
}

button{
    border: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 55%;
    background: whitesmoke;
    font-size: 16px;
    color: black;
    box-shadow: -6px -6px 90px ;
    cursor: pointer;
}    

.equalBtn{
    background-color: rgb(12, 207, 207);
}

.operator{
    color: rgb(207, 19, 69);
}